.header {
    @include clearfix;
    position: relative;
    background-color: #E7E9F2;
    border-bottom: 1px solid #C3C5D1;
    font-size: 1.5rem;
    height: 9vh;


    // &__nav-btn {
    //     display: none;

    //     @include respond(phone){
    //         font-size: 3.5rem;
    //         display: block;
    //         position: absolute;
    //         top: 0;
    //         right: 1rem;
    //     }
    // 
        @include respond(tablet){
            height: 6vh;
        }
        @include respond(desktop){
            height: 6vh;
        }

        @include respond(phone) {
            // color: tomato;
            // display: flex;
            flex-direction: column;
            position: fixed;
            height: 100vh;
            width: 100%;
            // background-color: rgb(190, 251, 255);
            background-color: rgb(255, 241, 177);
            z-index: 2000;
            display: none;
            // flex-direction: column;
        }
        &__mobile {
            display: block;
        }
    
        &__content {
            width: 100%;
            height: 100%;
            @include respond(phone){
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: auto;
                width: auto;
                display: flex;
                // align-items: center;
                // justify-content: center;
                flex-direction: column;
            }
            
            // display: flex;
            // align-items: center;
        }

        &__new-report {
            margin-left: .3rem;
            background-color: rgb(255, 142, 142);
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            animation: fade-in .5s ease;
        }

        &__links {
            float: left;
            height: 100%;
            display: flex;
            align-items: center;
            margin-left: 10rem;
            // height: 6vh;
            // background-color: gold;
            @include respond(phone){
                margin-left: 0;
                flex-direction: column;
                height: auto;
                // flex-wrap: wrap;
            }
            @include respond(desk){
                margin: 0;
            }
            a {
                // background-color: gold;
                height: 100%;
                padding-left: 2rem;
                padding-right: 2rem;
                display: flex;
                align-items: center;
                text-decoration: none;
                margin-left: 1rem;
                color: #5a5a5a;
                // font-weight: 300;
                &:hover {
                    color: rgb(22, 22, 22);
                    background-color: $secondary;
                    @include respond(phone){
                        // background-color: none;
                    }
                    // border-bottom: 1px solid pink;
                }
                @include respond(phone){
                    font-size: 2rem;
                    margin-top: 2rem;
                    // padding-left: 0.5rem;
                    // padding: 1rem;
                    // flex-grow: 1;
                    // justify-content: center;
                }
            }
        }
        &__auth {
           height: 100%;
            div {
                height: 100%;
                float: right;
                display: flex;
                align-items: center;
              
                margin-right: 10rem;
             
                @include respond(phone){
                    // align-items: initial;
                    margin-right: 0;
                    float: none;
                    text-align: center;
                    font-size:2rem;
                }
                a {
                    color: black;
                    text-decoration: none;
                    margin-right: 10px;
                    @include respond(phone){
                        // margin-right: 5;
                       
                       
                    }
                }
    
                &:hover {
                    color: rgb(255, 184, 118);
                }
                @include respond(phone){
                    // padding-right: 5px;
                    // padding-left: 0.5rem;
                    // margin-left: 1rem;
                    // display: flex;
                    // height: 100%;
                    // align-items: center;
                    margin-top: 2rem;
                    display: block;
                    text-align: center;
                    margin-right: 0;
                }
            }

        }
}

.nav-btn {
    display: none;

    @include respond(phone){
        font-size: 3.5rem;
        display: block;
        position: fixed;
        top: 0;
        right: 1rem;
        z-index: 3000;
    }
}