.map {
    display: flex;
    flex-direction: column;
    @include respond(phone){
        justify-content: center;
    }
    // &__map {
    //     @include respond(phone){
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //     }
    // }
    h4 {
        margin-bottom: 2rem;
    }
    &__row {
        display: flex;
        justify-content: center;
        @include respond(phone){
            justify-content: center;
        }
    }
    &__tile {
        // display: flex;
        position: relative;
        display: inline-block;
        margin: 3px;
        color: #000;
        height: 60px;
        width: 60px;
        border: 1px solid black;
        text-align: center;

        @include respond(phone){
            min-width: 50px;
            min-height: 50px;
        }
        a {
            text-decoration: none;
            color: rgb(255, 126, 126);
            &:hover {
                color: rgb(255, 75, 75);
            }
        }
        &__menu {
            position: absolute;
            z-index: 1;
            background-color: rgb(238, 238, 238);
            min-width: 15rem;
            text-align: center;
            border: 1px solid black;
            margin-top: 2px;
            margin-left: 2px;
            padding: 1rem;
        }
        &__me {
            background-color: rgb(202, 247, 255);
        }
        &__username {
            background-color: rgb(255, 229, 174);
        }
        &__front-user {
            width: 100%;
            height: 100%;
            display: flex;
            // text-align: center;
            align-items: center;
            justify-content: center;
        }
    }
}

// .map div:nth-child(4n){
//     color: black;
//     display: block;
// }