$font-size: 1.5rem;
$left-panel-font-color: rgb(78, 78, 78);
$left-panel-bg-color: rgb(235, 235, 235);
// $panel-bg-color: rgb(107, 148, 159); 
$panel-bg-color: #E7E9F2; //E7E9F2 //F0EFF1
$panel-border-color: #C3C5D1;
$bg: #F0EFF1;
$secondary: #CBE3F9;